:root {
  --primary: #f3f0f0;
  --secondary: #bedf80;
  --tertiary: #B12704;
  --light: #ffffff;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --homepage-card: rgb(231, 248, 248);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  /* font-size: 16px; */
  color: var(--dark);
}

.elegant-font {
  /* Additional font styles can be applied here */
  font-weight: 600;
  font-size: 32px;
}

/* .gradient-card {
  background: linear-gradient(to right, #dddddd, #ffffff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 15px;
  overflow: hidden;
} */

.text-card {
  flex: 1;
  padding: 1rem;
  text-align: left;
}

.text-card h2 {
  
  font-weight: 400;
  /* font-size: 24px; */
  margin-bottom: 1rem;
  
}

.text-card p {
  font-size: 18px;
}

.shop-link {
  font-size: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

/* Adjust background size and position for smaller screens */
@media (max-width: 768px) {
  .gradient-card {
    background-size: cover; /* Maintain aspect ratio */
    background-position: center; /* Center the background image */
  }

  .text-card {
    flex: 0;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins'f;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 3rem ;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: white;
}

header a {
  color: rgb(58, 58, 61);
  text-decoration: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.navbar-container {
  background-color: white; /* Set your desired background color */
  width: 84.5%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 10px; /* Add padding as needed */
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
   position: sticky;
  top: 0;
   z-index: 100;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    width: 100%;
    z-index: 300;
  }
}
@media screen and (max-width: 1252px) {
  .navbar-container {
    width: 95%;
  }
}

@media screen and (max-width: 1442px) {
  .navbar-container {
    width: 100%;
  }
}


@media screen and (max-width: 1540px) {
  .navbar-container {
    width: 95%;
  }
}






button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}



/* Home.css */

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Collage styles */
.image-collage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

/* Card styles */
.card {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.large {
  grid-column: span 2;
  grid-row: span 2;
}

.medium {
  grid-column: span 1;
  grid-row: span 2;
}

.small {
  grid-column: span 1;
  grid-row: span 1;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(to right, #747373, #888888); */
  background-color: var(--homepage-card);

  border-radius: 30px;
}

.text-card {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 50%;
}

.gradient-card {
  display: flex;
  border-radius: 30px;
  /* background: linear-gradient(to right, #7e7d7d, #e6e4e4); */
  background-color: var(--homepage-card);
 
  padding: 20px;
  width: 50%;
}

.gradient-card img {
  width: 100%; /* Set image width to 100% to fill the container */
  border-radius: 10px;
  background-color: var(--homepage-card);


}

.text-card {
  flex: 1;
  padding: 10px;
}

.text-card h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
  .container-1 {
    flex-direction: column;
    align-items: center;
  }


  .text-card,
  .gradient-card
   {
    width: 100%;
    font-size: 1rem;
  }
}


  @media screen and (max-width: 1200px) {
  .text-card h2 {
    font-size: 2rem;
    text-align: left;

  }


}


@media screen and (max-width: 768px) {
  .container-2 {
    flex-direction: column;
    margin-left: 100px;
  }
}





.shop-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

.shop-link:hover {
  background-color: #0056b3; /* Button background color on hover */
}
